

.result ul {
  list-style-type: none;  
  color: #336699;
  font-size: 12px;
  list-style: none;
  z-index: 0;
}

.results-details {
  text-indent: 0em;
}

.result{
	min-width: 80%;
	min-height: 450px;
	margin-bottom: 40px;
    border-radius: 4px;
    height: auto;
    padding: 9.5px;
    background-color: #2d2d2d;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 15px ;
    color: #fff;
    overflow: auto;
    text-align: left;
}

.stats{
	display: none;
	padding: 0px 10px; float:left; text-align:left;border-right: 1px solid black; display: none;
}

@media screen and (max-width: 620px) {
.result{
	max-width: 80%;
	margin-left: 10%;
	margin-bottom: 40px;
    border-radius: 4px;
    height: auto;
    padding: 9.5px;
    background-color: #2d2d2d;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 0.7em ;
    color: #fff;
    overflow: auto;
    text-align: left;
}

button{
	background: #fff;
    color: #444;
    font-size: 1em;
    height: auto;
    width: 130px;
    line-height: 30px;
    margin: 20px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    margin-top: -15px;
    border-radius: 5px;
   border: 1px solid #428BCA;
   
}

button:hover {
  background: #ec3923;
  border: 1px solid #fff;
  color: #fff;
}


}


.result h3{
	font-size: 20px;
	text-align: left; 
}

.result h4{
	font-size: 15px;
	text-align: left; 
	color: #8EB33B;
	margin: 0 0 0 0;
}

.result span{
	color:#C75646;
}

body{
font-family: 'Lato', sans-serif;
padding: 0;
margin: 0;
color: #444;
}


button{
	background: #fff;
    color: #444;
    font-size: 1em;
    height: auto;
    width: 130px;
    line-height: 30px;
    margin: 15px 5px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
    margin-top: -15px;
    border-radius: 5px;
   border: 1px solid #428BCA;
   
}

button:hover {
  background: #ec3923;
  border: 1px solid #fff;
  color: #fff;
}


h1{
	margin: 25 0 0 0px;
	font-size: 3.5em;
	font-weight: 600;
	text-align: center;
}

h2{
	margin: 10 0 0 0;
	font-size: 3em;
	font-weight: 500;
	text-align: center;
}

h3{
	margin: 15 0 0 0;
	font-size: 2.5em;
	font-weight: 500;
	text-align: center;
}

a{
	text-decoration: none;
	font-size: inherit;
	color: inherit;
	color: #336699;
}

a:hover{
	text-decoration: none;
	font-size: inherit;
	color: inherit;
	color: #ec3923;
}

hr{
	color: #F9F2F2;
	width: 80%;
}


p{
font-size: 1.1em;
line-height: 1.65em;
font-weight: 300;
letter-spacing: 0.01em;
text-align: center;
}


.about p{
	text-align: left;
}

small{
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.01em;
	text-align: center;
	color: #;
}

section{
	margin-top: 10px;
	min-height: 100px; 
	margin-left: 10%;
	width: 80%;
	font-weight: 600;
	text-align: center;
	vertical-align: middle;
	padding: 5px;
}


code {
background-color: #F9F2F2;
color: #C7254E;
}

li {
list-style-type: none;
font-size: inherit;
line-height: 1.65em;
font-weight: 300;
letter-spacing: 0.01em;
text-align: left;
}






.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 36px;
    margin-top: -10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;


